.details {
  font-family: 'PT Sans';
  font-size: 16px;

  section {
    margin-top: 40px;
  }

  .title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .inlineTitle {
    color: #71889B;
    font-size: 16px;
    font-weight: normal;
  }

  .sectionTitle {
    color: #71889B;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}
