@import '../../colorPalette';

.issue {
  position: relative;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border-left: solid 9px #72889A;
  cursor: pointer;

  &:hover {
    border-color: #5B6D7D;
  }

  &.selected {
    border-color: $orange;
  }

  h2 {
    font-family: 'Catamaran';
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;

    .author {
      color: $steel;
      font-weight: 400;
    }
  }

  .average, .priorityLabel {
    font-size: 14px;
    color: $steel;
  }

  input[type=radio] {
    opacity: 1;
    display: none;
  }

  label > span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 3px;
    width: 21px;
    height: 21px;
    border: solid 2px;
    border-radius: 10px;

    &.negative {
      border-color: $orange;
    }

    &.neutral {
      border-color: $gray;
    }

    &.positive {
      border-color: $blue;
    }

    &:hover {
      border-width: 3px;
    }
  }

  :checked + span.negative {
    background-color: $orange;
    cursor: default;

    &:hover {
      background-color: $orange;
    }
  }

  :checked + span.neutral {
    background-color: $gray;
    cursor: default;

    &:hover {
      background-color: $gray;
    }
  }

  :checked + span.positive {
    background-color: $blue;
    cursor: default;

    &:hover {
      background-color: $blue;
    }
  }

  .priorityLabel {
    position: absolute;
    right: 170px;
    bottom: -4px;
  }

  .priorities {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}
