@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,400&subset=latin-ext');
@import './colorPalette';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: $darkGray;
}

body {
  margin: 0;
  font-family: "Fira Mono";
  background-color: $lightGray;
}

::placeholder {
  color: #BDBDBD;
}

textarea, input, button {
  outline: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

input:focus, textarea:focus {
  border-color: $orange;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

pre {
  margin-bottom: 20px;
  border-left: solid 1px #979797;
  padding: 15px 0 15px 20px;
  font-family: 'Fira Mono';
  font-size: 14px;
  color: #979797;
}
